DATABASE_URL=postgresql://granate:granate123@localhost:5432/granate
MANGOSTEEN_JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA...\n-----END PUBLIC KEY-----
PORT=3000
